body, div {
    padding: 0px;
    margin: 0px;
}


body {
    font-family: Roboto, Arial, sans-serif;
    background: #ECEFF1;
    color: rgba(0,0,0,0.87);
}


a {
    color: rgb(3,155,229);
}
nav {
    background-color: #E5E5E5;
}

nav div {
    display: inline-block;
    padding: 10px 10px;
    margin: 10px 10px;
    background-color: #FFF;
}

nav ul li.active {
    border: 1px solid black;
}

div.ticket {
    max-width: 400px;
    margin: 40px auto;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2),0 1px 1px 0 rgba(0,0,0,0.14),0 2px 1px -1px rgba(0,0,0,0.12);
    border-radius: 2px;
    background: white;
    padding: 16px 24px;    
}

#message {
    max-width: 400px;
    margin: 40px auto;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2),0 1px 1px 0 rgba(0,0,0,0.14),0 2px 1px -1px rgba(0,0,0,0.12);
    border-radius: 2px;
    background: white;
    padding: 16px 24px;
}

#message h1 {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin: 0 0 16px;
}

#message p {
    font-weight: 300;
    line-height: 150%;
}

#message ul {
    list-style: none;
    margin: 16px 0 0;
    padding: 0;
    text-align: center;
}

#message li a {
    display: inline-block;
    padding: 8px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    background: rgb(3,155,229);
    color: white;
    border: 1px solid rgb(3,155,229);
    border-radius: 3px;
    font-size: 14px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}
