body, div {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Roboto, Arial, sans-serif;
    background: #ECEFF1;
    color: rgba(0,0,0,0.87);
}

div#app {
    max-width: 1000px;
    background: #CCCFD1;
    margin: auto;
}

a {
    color: rgb(3,155,229);
}

nav#nav-site {
    background-color: #E5E5E5;
}

nav#nav-site div {
    display: inline-block;
    padding: 8px 8px;
    margin: 8px 10px;
    background-color: #FFF;
}

nav#nav-project {
    background-color: #232323;
}

nav#nav-project div {
    display: inline-block;
    padding: 8px 8px;
    margin: 8px 10px;
    font-weight: bold;
    color: white;
}

nav ul li.active {
    border: 1px solid black;
}


div#content {
    padding:20px;
}

div#project-ui {

}

div#project-page {
}

#authform {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2),0 1px 1px 0 rgba(0,0,0,0.14),0 2px 1px -1px rgba(0,0,0,0.12);
    border-radius: 2px;
    background: white;
}

#authform h1 {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin: 0 0 16px;
}

div.ticket {
    max-width: 400px;
    margin: 40px auto;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2),0 1px 1px 0 rgba(0,0,0,0.14),0 2px 1px -1px rgba(0,0,0,0.12);
    border-radius: 2px;
    background: white;
    padding: 16px 24px;
}

div.ticket > * {
    display: block;
}

div.project-settings-panel {
    padding: 10px;
    margin: 10px;
    display: block;
    border: 1px solid white;
}

div.notification {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid white;
}